/* used on single page */
.single-content-container {
    line-height: 1.75;
    padding: 50px;
    border-radius: 10px;
    /* Opcjonalnie, jeśli chcesz zaokrąglone rogi. */
    margin: 20px 0;
    text-align: justify;
    /* Odstępy, żeby kontener nie przylegał bezpośrednio do krawędzi strony. */
}

.highlight {
    margin-top: 15px; /* Zwiększa odstęp powyżej bloku kodu */
    margin-bottom: 15px; /* Zwiększa odstęp poniżej bloku kodu */
}
pre[tabindex="0"] {
    padding: 20px;
    border-radius: 10px;
    background-color: #2e3440; /* Wybierz kolor tła według swoich preferencji */
}
.day-mode .single-content-container {
    background-color: #cacaca2a;
}

.night-mode .single-content-container {
    background-color: #3e465ead;
}
