/* used on single page */
.single-content-container {
    line-height: 1.75;
    padding: 20px;
    border-radius: 10px;
    /* Opcjonalnie, jeśli chcesz zaokrąglone rogi. */
    margin: 20px 0;
    /* Odstępy, żeby kontener nie przylegał bezpośrednio do krawędzi strony. */
}

.day-mode .single-content-container {
    background-color: #cacaca2a;
}

.night-mode .single-content-container {
    background-color: #3e465ead;
}