/* used on single page */
.single-content-container {
    line-height: 1.75;
    padding: 50px;
    border-radius: 10px;
    /* Opcjonalnie, jeśli chcesz zaokrąglone rogi. */
    margin: 20px 0;
    text-align: justify;
    z-index: 1;
    /* Odstępy, żeby kontener nie przylegał bezpośrednio do krawędzi strony. */
}

/* lists */
.single-content-container ol {
    list-style-type: decimal;
    padding: 20px;
}

.single-content-container ul {
    list-style-type: disc;
    padding: 20px;
}

.highlight {
    margin-top: 15px; /* Zwiększa odstęp powyżej bloku kodu */
    margin-bottom: 15px; /* Zwiększa odstęp poniżej bloku kodu */
}

pre[tabindex="0"] {
    padding: 20px;
    border-radius: 10px;
    background-color: #2e344094; /* Wybierz kolor tła według swoich preferencji */
    color: #fff;
    overflow: auto; 
}

.day-mode .single-content-container,
.night-mode .single-content-container {
    background-color: #cacaca2a;
}
