{{ define "main" }}
<html lang="eng">
    <head>
        <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Twoja strona</title>
    <style>
        :root {
            --dynamic-gradient-border: linear-gradient(to right, rgb(0, 225, 255), rgba(0, 183, 255, 0.733),rgb(0, 102, 255));
            --dynamic-gradient-border-width: 10px;
            --card-background: linear-gradient(to right, rgb(0, 204, 255),rgba(0, 183, 255, 0.733));
        }
        </style>
</head>
<body>

    <div class="box gradient-border">
        <h1>{{ .Title }}</h1>
    </div>
    <div class="max-w-screen-xl mx-auto px-4 text-center md:px-2">
        <div class="mt-4">
            <ul class="grid gap-8 sm:grid-cols-2 md:grid-cols-3 ">
                {{ range .Site.RegularPages.ByTitle }}
                {{ if eq .Section "authors" }}
                <li class="card card-tall card-wide">
                    <div class="w-24 h-24 mx-auto">
                        <img src="{{ with .Params.avatar }}{{ . }}{{ else }}{{ "default-avatar.png" | absURL }}{{ end }}" class="w-full h-full rounded-full" alt="" />
                    </div>
                    <div class="mt-6">
                        <h3 class="text-white-700 font-semibold card-title">{{ .Title }}</h3>
                        <h4 class="text-indigo-600">{{ with .Params.whoami }}{{ . }}{{ end }}</h4>
                        <p class="text-white-600 mt-2 pl-8 pr-8 card-description">{{ with .Params.desc }}{{ . }}{{ end }}</p>
                    </div>
                </li>
                {{ end }}
                {{ end }}
            </ul>
        </div>
    </div>
</body>

</html>
{{ end }}
