{{ define "main" }}

<style>

  :root {
      --dynamic-gradient-border: linear-gradient(to right, #5d00b4, #b400abe7);
      --dynamic-gradient-border-width: 8px;
      --dynamic-gradient-day-title: linear-gradient(to right, #ae57ff, #ae57ffd2);
      --dynamic-gradient-day-content: linear-gradient(to right, #5d00b4, #b400abe7  );
      --dynamic-gradient-night-title: linear-gradient(to right, #5d00b4, #b400abe7);
      --dynamic-gradient-night-content: linear-gradient(to bottom, #5d00b4, #5d00b425);
    }

  .meta-item {
    display: flex;
    align-items: center;
    margin-right: 40px;
  }

  .meta-icon {
    margin-right: 8px;
  }

</style>

<!-- Progress bar -->
<div id="progress-bar"></div>

<!-- Metadata -->
<!-- Title -->
<div class="box gradient-border">
  <h2>{{ .Title }}</h2>
</div>


<div class="single-content-container">
  <div class="flex items-center mb-6">
    <div class="meta-item text-gray-400">
      <span class="meta-icon"><i class="fas fa-calendar-alt"></i></span>
      <span class="text-md font-medium">Publication Date:</span> 
      <span class="text-gray-500">{{ .Date.Format "2 January 2006" }}</span>
    </div>
    <div class="meta-item text-gray-400">
      <span class="meta-icon"><i class="fas fa-clock"></i></span>
      <span class="text-md font-medium">Reading Time:</span> 
      <span class="text-gray-500">{{ .ReadingTime }} min</span>
    </div>
  </div>
</div>


<!-- Table of Contents -->
<div class="single-content-container table-of-contents">
  {{ .TableOfContents }}
</div>

<div class="single-content-container">

    <!-- Article Content -->
    <div class="content">
        {{ .Content }}
    </div>

    <!-- Tags -->
    <div class="tags">
        {{ range .Params.tags }}
            <span class="tag">{{ . }}</span>
        {{ end }}
    </div>

    <!-- Exercises -->
    <div class="exercises">
        {{ range .Params.exercises }}
            <div class="exercise">
                <p>{{ .question }}</p>
                <button onclick="toggleAnswer(this)">Show Answer</button>
                <div class="answer hidden">{{ .answer }}</div>
            </div>
        {{ end }}
    </div>
</div>
{{ end }}
