<div class="single-content-container">
  <div class="flex items-center mb-6">
    <div class="meta-item text-gray-400">
      <span class="meta-icon"><i class="fas fa-calendar-alt"></i></span>
      <span class="text-md font-medium">Publication Date:</span>
      <span class="text-gray-500">{{ .Date.Format "2 January 2006" }}</span>
    </div>
    <div class="meta-item text-gray-400">
      <span class="meta-icon"><i class="fas fa-clock"></i></span>
      <span class="text-md font-medium">Reading Time:</span>
      <span class="text-gray-500">{{ .ReadingTime }} min</span>
    </div>
  </div>
</div>

<nav id="toc" class="toc-sidebar">
  <!-- Spis treści zostanie wygenerowany tutaj przez Tocbot -->
</nav>

<div class="single-content-container">
  <!-- Article Content -->
  <nav class="js-toc"></nav>
  <div class="content js-toc-content">{{ .Content }}</div>
