{{ define "main" }}

<style>
  :root {
    --dynamic-gradient-border: linear-gradient(to right, #5d00b4, #b400abe7);
    --dynamic-gradient-border-width: 8px;
  }

  .meta-item {
    display: flex;
    align-items: center;
    margin-right: 40px;
  }

  .meta-icon {
    margin-right: 8px;
  }

  #progress-bar {
    position: fixed;
    top: 8vh;
    left: 0;
    width: 0;
    height: 5px;
    background-color: #65ff57;
    z-index: 9999;
  }
</style>

<!-- Progress bar -->
<div id="progress-bar"></div>

<!-- Metadata -->
<!-- Title -->
<div class="box gradient-border">
  <h2>{{ .Title }}</h2>
</div>

{{ partial "singe_page_header.html" . }}

<div class="single-content-container">
  <!-- Article Content -->
  <nav class="js-toc"></nav>
  <div class="content js-toc-content">{{ .Content }}</div>

  <!-- Tags -->
  <div class="tags">
    {{ range .Params.tags }}
    <span class="tag">{{ . }}</span>
    {{ end }}
  </div>

  <!-- Exercises -->
  <div class="exercises">
    {{ range .Params.exercises }}
    <div class="exercise">
      <p>{{ .question }}</p>
      <button onclick="toggleAnswer(this)">Show Answer</button>
      <div class="answer hidden">{{ .answer }}</div>
    </div>
    {{ end }}
  </div>
</div>
{{ end }}
